body {
    background-image: url("../static/background.jpg");
    background-attachment: fixed;
}

h2{
    text-align: center;
    padding-top: 1em;    
}

.button{
    width: 10em;
    height: 4em;    
}

#buttons{
    text-align: center;
}

.formgroup{
    margin-left: 2em;
}

#submit:active{
    background-color:red;
}

/* Example of :hover pseudoselector */

#submit:hover{
    background-color: hsla(218, 100%, 50%, 0.8);
    position: relative;
    bottom:3px;
    left: 3px;
}

#reset:hover{
    background-color: rgba(255, 30, 30, 0.5);
    position: relative;
    bottom:3px;
    left: 3px;
}

#numberGen:hover:enabled {
    background-color: cyan;
    position: relative;
    bottom:3px;
    left: 3px;
}

#numberGen{
    margin-left: 30%;
    margin-right: 30%;
    width:40%    
}

#numberGenerated{
    text-align: center;
    font-size: 2em;
}

#formLink:active{
    color:black;
}
input:checked + label {
    color: green;
  }

.content{
    padding-bottom:2em;
}
/* Example of :focus pseudoselector */
input:focus {
    background-color: #f5f8ff;
    border: 3px solid green;

}

input:required{
	border: 2px solid yellow;
}


/* Example of :focus pseudoselector */

input:not(:focus){
    background-color: #ebebeb;
}

/* Example of :required pseudoselector */
input:required{
    background-color: lightsteelblue
}

