#welcomeImage{
    float: left;
    margin-right: 2%;
    margin-left: 1%;
}

#imageHovering{
	margin: 0 auto;
	width: 450px;
	height: 290px;
	float: left;
}

#imageHovering img{
	position: absolute;
	transition: opacity 2s;
	-o-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-webkit-transition: opacity 2s;
}

.imageHoveringTop:hover{
	opacity: 0;
}

#welcomeImage:hover{
	background: url("../static/biegacze_2.jpg");
}

#welcomeMessage{
    padding-top:20px;
    font-size: 300%;
}

#welcomeParagraph{
    text-align: center;
    page-break-after: always;
}

h1, h2, h3{
    text-align: center
}

header h1{
    text-align: left;
}

#historyParagraph{
    margin-left: 15%;
}

.registrationArticle{
   clear:left;
   padding-top: 2%;
   text-align: center;
   border: 2px solid black;
   border-radius: 30px 30px 5px 5px;
   border-left-style: dashed;
   border-right-style: dashed;
   margin-left: 5%;
   margin-right: 5%;
   background-image: radial-gradient(circle, #D7CDCC, #D0C0C0, #B0A0A0);
   box-shadow: 4px 8px 10px #4444CC;
 
   transition: margin-left 1s, margin-right 1s, box-shadow 1s;
}

.registrationArticle:hover{
	margin-left: 2%;
	margin-right: 2%;
	box-shadow: 4px 8px 30px #5555DD;
}

p{
    text-indent: 5%;
}

figcaption{
    font-weight: 600;
    padding-bottom: 2%;
}
figure{
    margin-bottom: 0;
}

footer{
    clear: left;
}

#mapImage{
	transition: transform 2s;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#mapImage:hover{
	transform: rotate(10deg) scale(1.2, 1.2) skewX(10deg);
}

/* Example of :first pseudoselector */
@page:first{
    margin-top: 50%;
    margin-left: 50%;
}
