ol{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 1.5em;
	height: 2em;
	line-height: 2em;
	color: #FFFF80;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ol > li{
	float: left;
	width: 180px;
	background-color: #1D1E2C;
}

ol > li > ul{
	display: none;
}

ol > li:hover{
	background-color: #2D2E3C;
}

ol > li:hover > ul{
	display:block;
}

ol > li > ul > li{
	background-color: #3D3E4C;
	height: 2em;
	line-height: 2em;
}

ol > li > ul > li:hover{
	background-color: #4D4E5C;
}

ol > li > ul > li > ul > li{
	display: none;
	position: relative;
	left: 180px;
	top: -2em;	
	background-color: #5D5E6C
}

ol > li > ul > li > ul > li:hover{
	background-color: #6D6E7C
}

ol > li > ul > li:hover > ul > li{
	display: block;
}