#terms p {
    margin-bottom: 0;
    padding-bottom: 2%;
}
h2{
    padding-top: 2%;
    font-size: 34pt;
}
h3{
    font-size:2em;
}
h4,h3,h2{
    text-align: center;
}
p{
    text-indent: 2%;
    margin: 0 5px;
    line-height: 1.5em;
}
.navList{
    display:block;
    float:none;
}
.navElement{
    float: none;
    list-style: disc;
    display: list-item;
	animation-direction: reverse;
	animation-name: link-animation;
	animation-duration: 1s;
}

@keyframes link-animation {
	0% { color: #5588FF; margin-left: 0px; width: 150%; }
	60% { color: #4488EE; margin-left: 0px; width: 100%; }
	100% { color: #4488EE; margin-left: 10px; width: 100%; }
}

.navListLink{
    color:blue;
    font-variant: small-caps;
}

.navListLink:hover {
	animation-name: link-animation;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.classification{
    line-height: 2em;
}

#classifications{
	border: solid gray 3px;
	border-image: linear-gradient(red, blue) 27;
}

#timetable{
	border: solid black 5px;
	border-image: url("../static/border.png") 20 round;
}

/* Example of :target pseudoselector */
:target{
    border: 3px dashed green;
}