h2{
    text-align: center;
    padding-top: 1em;
}
header h1{
    text-align: left;
}

.flexbox{
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
flex-direction: row;
justify-content: space-around;
width:80%;
margin:auto;
text-align: center;
}

.flexbox div {
	transition: all 1s ease-out;
}

.flexbox div:hover{
    background-color: coral;
    flex-grow: 3;
}

.flexbox div:not(:hover) {
    flex-shrink:  5;

}

.flexbox div:not(:hover) p{
    visibility: hidden;   
}

figcaption{
    text-align: center;
    font-style: italic;
    font-size: 2em;
}
h3{
    text-align: center;
}

#bmiCalc{
    text-align: center;
}
#bmiCalc p{
    font-style: italic;
}
#bmiCalc button{
    width: 40%;
    height:4em;
}

#bmiResult{
    display: block;
    font-size: 1.5em;
    margin-top: 1em;
}

.multicolumns{
    padding-top: 2em;
    padding-bottom: 2em;
    -webkit-column-count: 3;
    -moz-column-count: 3;   
    -o-column-count: 3;     
    column-count: 3; 
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;   
    -o-column-gap: 30px;     
    column-gap: 30px;  
    -webkit-column-rule: 1px outset black;
    -moz-column-rule: 1px outset black;   
    -o-column-rule: 1px outset black;     
    column-rule: 1px outset black;  
}
.multicolumns p{
    margin-left: 1em;
}

.calorieCalculator {
	margin: 1em;
    text-align: center;
}
#resultsList{
    list-style-type: none;
    font-size: 1.5em;
}

.fontSelect{
    font-style: italic;
    width:95%;
    margin:auto;
}


@media screen and (max-width: 1000px){
	.multicolumns{
    -webkit-column-count: 1;
    -moz-column-count: 1;   
    -o-column-count: 1;     
    column-count: 1; 
    }
}

@media screen and (max-width: 900px){
    .flexbox{
        -webkit-flex-direction:column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        
    }

}