.content{
    background-image: url("../static/medals.png");
    background-repeat: repeat-x ;
    background-size: auto;
    height: 100%;
}

body{
    background-image: url("../static/laur.png");
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 100% 50%;
}

section{
    padding-top: 100px;
}

.switchStyleButton{
    float: right;
    margin-top:1em;
    margin-right: 1em;
    height:3em;
    width:10em;
}

/* Table styling example */

table{
    table-layout: auto;
    border-collapse: collapse;
    border: 3px solid green;
    line-height: 2em;   
}
 th{
    font-variant: small-caps;
}
/* Examples of nth-child pseudoselector */
tbody tr:nth-child(odd){
    background-color: bisque;
}

tbody tr:nth-child(1){
    background-color: aliceblue;
}


tbody tr:nth-child(even){
    background-color: wheat;
}


@media only screen and (max-width: 1300px){
	table{
		border: 1px solid green;
		font-size: 80%;
	}
}