/* Default file for all pages. Styles header, footer, and default background. */
/* MONTSERRAT FONT-FACE */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Header */
.header{
    background-color: #59656F;
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    display:block;
    font-size: 1.2em;
	font-family: Arial, Helvetica, sans-serif;
	box-shadow: 0px 10px 5px inset #39454F;
}
.header img{
    float: left;
}

.header ul{
    list-style-type: none;
    position: relative;
}

nav li{
    display:block;
    float: right;   
    padding-right: 2%;
}
nav li a{
    text-decoration: none;
    font-size: 120%;
    color: #DBA159;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
	animation-timing-function: ease
}
nav li a:hover{
	animation-name: menu-hovering;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

a[href="index.html"]{
	text-decoration : underline wavy
}

@keyframes menu-hovering {
	from {color: #DBA159;}
	to {color: #F3C179;}
}

/* Headers for text, for 3) */
h2{
	font-size: 40px;
	text-shadow: 4px 2px 9px #000000;
	font-family: 'Montserrat', sans-serif;
}

h3{
	font-size: 15pt;
	font-family: 'Montserrat', sans-serif;
}

/* Body and content background */
body{
    background-color: #1D1E2C;
}

.content{
    background-color: #D7CDCC;
    width:90%;
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0;
}


/* Footer */
footer{
    position: relative;
    bottom: 0;
    left:0;
    width:100%;
	padding-top: 1em;
	background-image: linear-gradient(#D7CDCC, #9DA4BE, #94A1B4, #8D99AE, #8D99AE, #8D99AE);
    text-align: center;
}
footer p{
    margin:0;
}


/* For footer adjustments    */
html,body{
    margin:0;
    padding:0;
    height:100%; 
}

@media screen and (max-width: 1000px){
	.header{
		font-size: 0.8em;
	}
}

@media print{
	.header{
		display: none;
	}
}