h2{
    text-align: center;
    padding-top: 1em;
}
p, h3{
    margin-left: 1em;
}
.buttons{
    text-align: center;
    padding-bottom:2em;
}

.button{
    height: 4em;
    width: 10em;;
}

/* Example of :first-child pseudoselector */
li:first-child{
    text-decoration: underline;
}

/* Example of last-child pseudoselector */
li:last-child{
    font-weight: 600;
}

/* Example of nth-last-child pseudoselector */
li:nth-last-child(2){
    font-size: 1.3em;
}